# OS/build/test generated 
.DS_Store
bin/
build/
dist/
node_modules/

# Personal
.env
.env.local
.vscode/settings.json
.env.*.local
*.code-workspace
.vscode

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
